.main {
  margin-left: auto;
  margin-right: auto;
}

th {
  border: 1px solid #8686867c;
  border-collapse: collapse;
  text-align: center;
  background-color: yellow;
}

table td {
  border: 1px solid #8686867c;
  border-collapse: collapse;
}

.aaa {
  width: 80px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
